/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Monofett|PT+Sans+Narrow');

/* GLOBALS */
.border {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 0, 102, 0.6);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 0, 102, 0.6);
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 102, 0.6);
    margin: 5px;
}

div.border {
    border: 0px !important;
}

/* NAVBAR */
ul#nav-mobile>li>a.black-text {
    text-decoration: none;
}

a.brand-logo {
    text-decoration: none;
}